.chat {
  display: flex;
  justify-content: flex-start; 
  margin: 10px 0 10px 0;
  padding: 7px 10px;
  color: rgb(57, 57, 57);
  background: white;
  width: 100%;
  box-sizing: border-box;
  border: solid 3px #dcdcdc;
  border-radius: 5px;
}

.chatUser {
  /* display: flex; */
  text-align: center;
}

.userIcon {
}

.userName {
  font-size: 14px;
  color:rgb(104, 104, 104);
}

.chatMessage {
  padding: 10px;
  font-size: 18px;
}
